.swiper-pagination {
  display: flex;
  min-width: 100%;
  justify-content: center;
  gap: 8px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet.swiper-pagination-bullet-active-next-next,
.swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullet.swiper-pagination-bullet-active-prev {
  width: 28px;
  height: 6px;
  border-radius: 12px;
  background-color: #d6d6d6;
  transition: width 0.8s ease, transform 0.8s ease;
  opacity: 0.6;
  transform-origin: right center;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
  width: 42px;
  height: 6px;
  background-color: #8d6ed3;
  opacity: 0.8;
  border-radius: 12px;
  transform: scale(1.1);
  transition: width 0.8s ease, transform 0.8s ease;
  transform-origin: right center;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active
  ~ .swiper-pagination-bullet {
  transform: scale(1);
  opacity: 0.6;
}

.swiper-button-prev,
.swiper-button-next {
  min-width: 44px;
  min-height: 30px;
  color: black;
}

.swiper-button-prev,
.swiper-button-next {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #8d6ed3; /* Колір фону при hover */
}

.swiper-button-prev:hover svg,
.swiper-button-next:hover svg {
  color: white;
}

/* Для попереднього слайду */
.swiper-button-prev:hover {
  transform: translateY(-50%) scale(1.1);
}

/* Для наступного слайду */
.swiper-button-next:hover {
  transform: translateY(-50%) scale(1.1);
}
